@page
@model _201911041TermProject.Pages.Messages.DisplayMessagesModel

@{
    ViewData["Title"] = "Display Message";
}






<div class="row mx-auto mb-3">
    <div class="col-12 px-0">
        @Model.Message.Content
    </div>
</div>

<hr class="mx-auto" />