@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<style>
    body {
        background: url();
    }
</style>



@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
