@page
@model _201911041TermProject.Pages.Posts.CreateModel


@{
    ViewData["Title"] = "Create Post";
}


<form method="post" enctype="multipart/form-data">
    <div class="form-floating my-3">
        <input asp-for="Input.Title" class="form-control" autocomplete="current-password" aria-required="true" />
        <label asp-for="Input.Title" class="form-label"></label>
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>
    <div class="input-group my-3">
        <textarea class="form-control" aria-label="With textarea" asp-for="Input.Content" placeholder="Share your thoughts."></textarea>
        <span asp-validation-for="Input.Content" class="text-danger"></span>
    </div>
    <div class="row mx-auto my-3">
        <div class="col-12 px-0">
            <div class="form-group mb-3">
                @*<label asp-for="FileUpload"></label>*@
                <input asp-for="Input.FileUpload" type="file" class="form-control"><br>
            </div>
        </div>
    </div>
    <div class="row mx-auto d-grid">
        <button class="btn btn-outline-success">Create Post</button>
    </div>
</form>

