@page
@model _201911041TermProject.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Feed";
}

<div class="col-12 d-grid">
    <a asp-page="/Posts/Create" class="btn btn-outline-primary">Create New Post</a>
</div>


@if (Model.FriendsPosts.Count > 0)
{
    @foreach (var post in Model.FriendsPosts)
    {
        <partial name="_PostCardPartial" model="post" />
    }
}

else
{
    <h1 class="text-danger text-center my-5">NO POST IN DATABASE</h1>
}